# Copyright (c) 2026 Auxspace e.V.
# SPDX-License-Identifier: Apache-2.0

menuconfig RECOVERY
	bool "Recovery drivers"
	default n
	help
	  Enable recovery device drivers.

if RECOVERY

menu "Recovery Drivers"

rsource "auxspaceev/Kconfig"

endmenu

endif # RECOVERY
