/*
 * Copyright (c) 2024 Auxspace e.V.
 * SPDX-License-Identifier: Apache-2.0
 */

&spi0 {
    status = "okay";
    cs-gpios = <&gpio0 1 GPIO_ACTIVE_LOW>;

	sdhc0: sdhc@0 {
		compatible = "zephyr,sdhc-spi-slot";
		reg = <0>;
		status = "okay";
		mmc {
			compatible = "zephyr,sdmmc-disk";
			status = "okay";
		};
		spi-max-frequency = <25000000>;
	};
};

&gpio0 {
	status = "okay";
};
