# Copyright (c) 2025 Auxspace e.V.
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

menu "Zephyr"

source "Kconfig.zephyr"

endmenu

module = SENSOR_BOARD
module-str = SENSOR_BOARD
source "subsys/logging/Kconfig.template.log_config"

config STORAGE
	bool "Support for storage"
	help
	  This option enables storage driver options

choice STORAGE_TYPE
	bool "Aurora application storage type"
	depends on STORAGE
    default SIMPLE_STORAGE

config SIMPLE_STORAGE
	bool "Simple storage"
	help
		Aurora simple storage device.
		Use this option, if you only have one storage device, like an mmc card.

config MULTI_STORAGE
	bool "Not implemented yet"

endchoice

config USB_SERIAL
	bool "Support for USB serial console"
	help
	  This option enables functionality for a serial console via USB.
