# Pyro module configuration options

# Copyright (c) 2026 Auxspace e.V.
# SPDX-License-Identifier: Apache-2.0

menuconfig PYRO
    prompt "Pyro drivers"
    default n
    help
      Enables support for Pyro recovery modules used in Auxspace recovery systems.

if PYRO

module = PYRO
module-str = pyro
source "subsys/logging/Kconfig.template.log_config"

menu "Pyro configuration"
rsource "pyro_config.Kconfig"
endmenu

endif
