/*
 * Copyright (c) 2026 Auxspace e.V.
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/sensor/lps22hh.h>
#include <zephyr/dt-bindings/sensor/lsm6dso.h>

/ {
	chosen {
		/* Auxspace specific */
		auxspace,baro = &lps22hh0;
		auxspace,imu = &lsm6dso320;
		auxspace,mmc = &mmc0;
		auxspace,pyro = &pyro0;
		auxspace,ffs = &ffs0;
		auxspace,buzzer = &buzzer0;
		auxspace,led = &pwmleds;
		auxspace,pfm = &button0;
	};

	fstab {
		compatible = "zephyr,fstab";

		ffs0: ffs_0 {
			compatible = "zephyr,fstab,fatfs";
			automount;
			disk-access;
			mount-point = "/MMC:";
		};
	};
};


&adc1 {
	status = "okay";
};

&buzzer0 {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&i2c0 {
	status = "okay";
};

&lps22hh0 {
	status = "okay";
	odr = <LPS22HH_DT_ODR_50HZ>;
};

&lsm6dso320 {
	status = "okay";
	accel-range = <LSM6DSO_DT_FS_16G>;
	accel-odr = <LSM6DSO_DT_ODR_52Hz>;
	gyro-range = <LSM6DSO_DT_FS_1000DPS>;
	gyro-odr = <LSM6DSO_DT_ODR_52Hz>;
};

&mmc0 {
	status = "okay";
};

&pwmleds {
	status = "okay";
};

&pyro0 {
	status = "okay";
};

&sdhc2 {
	status = "okay";
};

&spi2 {
	status = "okay";
};

&timer0 {
	status = "okay";
};

&timer1 {
	status = "okay";
};

&timer2 {
	status = "okay";
};

&timer3 {
	status = "okay";
};

&twai {
	status = "okay";
};

&trng0 {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&usb_serial {
	status = "okay";
};

&wdt0 {
	status = "okay";
};
