/*
 * Copyright (c) 2026 Auxspace e.V.
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		/* Auxspace specific */
		auxspace,baro = &lps22hh0;
		auxspace,imu = &lsm6dso320;
		auxspace,mmc = &mmc0;
		auxspace,pyro = &pyro0;
		auxspace,ffs = &ffs0;
		auxspace,buzzer = &buzzer0;
		auxspace,led = &pwmleds;
		auxspace,pfm = &button0;
	};

	fstab {
		compatible = "zephyr,fstab";

		ffs0: ffs_0 {
			compatible = "zephyr,fstab,fatfs";
			automount;
			disk-access;
			mount-point = "/MMC:";
		};
	};
};

&adc1 {
	status = "okay";
};

&spi2 {
	status = "okay";
};

&sdhc2 {
	status = "okay";
};

&mmc0 {
	status = "okay";
};

&i2c0 {
	status = "okay";
};

&lps22hh0 {
	status = "okay";
};

&lsm6dso320 {
	status = "okay";
};

&buzzer0 {
	status = "okay";
};

&pwmleds {
	status = "okay";
};

&pyro0 {
	status = "okay";
};
