/*
 * Copyright (c) 2025 Auxspace e.V.
 * SPDX-License-Identifier: Apache-2.0
 */

 / {
	chosen {
		auxspace,baro = &ms5607_0;
		auxspace,imu = &lsm6dso32_0;
		auxspace,mmc = &mmc0;
		auxspace,ffs = &ffs0;
	};

	fstab {
		compatible = "zephyr,fstab";
		ffs0: ffs0 {
			compatible = "zephyr,fstab,fatfs";
			automount;
			disk-access;
			mount-point = "/MMC:";
		};
	};
};
