# Copyright (c) 2026 Auxspace e.V.
# SPDX-License-Identifier: Apache-2.0
#
# AUX-Pwr-65 shield describes the power management board of the AUX-Stack

config SHIELD_PWR65
	def_bool $(shields_list_contains,pwr65)
