# Copyright (c) 2025-2026 Auxspace e.V.
# SPDX-License-Identifier: Apache-2.0

menu "Aurora libraries"

menu "Aurora Sensors"
rsource "sensor/Kconfig"
endmenu

menu "Input Filtering"
rsource "filter/Kconfig"
endmenu

menu "Data Storing"
rsource "data/Kconfig"
endmenu

menu "Notifications"
rsource "notify/Kconfig"
endmenu

menu "Powerfail"
rsource "powerfail/Kconfig"
endmenu

menu "PWM Melody"
rsource "pwm_melody/Kconfig"
endmenu

menu "State Machine"
rsource "state/Kconfig"
endmenu

endmenu
