# Copyright (c) 2025 Auxspace e.V.
# SPDX-License-Identifier: Apache-2.0

module = USB_SERIAL
module-str = USB_SERIAL
source "subsys/logging/Kconfig.template.log_config"

config USB_SERIAL
	bool "Support for USB serial console"
	help
		This option enables functionality for a serial console via USB.
