# Copyright (c) 2026 Auxspace e.V.
# SPDX-License-Identifier: Apache-2.0

if BOARD_TEL65

# The LoRaWAN/LoRa stack runs out of the main thread during init.
config MAIN_STACK_SIZE
	default 2048 if LORA

endif # BOARD_TEL65
