# Mini pyro module configuration options
#
# Copyright (c) 2026 Auxspace e.V.
# SPDX-License-Identifier: Apache-2.0

menuconfig MINI_PYRO
	bool "Mini pyro module from the MicroMETER project."
	default y
	depends on DT_HAS_AUXSPACEEV_MINI_PYRO_ENABLED
	help
	  Enable driver for mini pyro module.
