# General configuration options

# Copyright (C) 2025 2025 Auxspace e.V.
# SPDX-License-Identifier: MIT

config PICO_BOARD
    string "pico board"
    help
        Board to select from the pico SDK and FreeRTOS

source "src/apps/Kconfig"
source "src/drivers/Kconfig"
source "src/tasks/Kconfig"
